@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body {
    background-color: #EFEFEF;
    font-family: 'Libre Baskerville', 'Noticia Text', serif;
    color: #e63946;
}

h2 {
    font-size: 2rem;
}

p {
    font-family: 'Noticia Text', serif;
}

a {
    text-decoration: none;
    color: #ec6f6f;
}

button {
    background-color: #f04e4e;
    color: #fff;
    border: 1px solid #f04e4e;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
    color: #f04e4e;
    border: 1px solid #f04e4e;
    background-color: transparent;
}


.container {
    padding: 1rem 2.5rem;
    position: relative;
}


/* Navbar start */


header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0.5rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEF;
    border-bottom: 1px solid #56aa3c;
}

/* .header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
} */

.logo {
    display: flex;
    align-items: center;
    font-family: "Sunflower", sans-serif;
}

.logo img {
    width: 40px;
}

header .icons{
    width: 30px;
    position: absolute;
    right: 5%;
    cursor: pointer;
    display: none;
}


header #check {
    display: none;
}

nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
}

/* nav .links li:not(:last-child) {
    margin-right: 2.5rem;
} */
nav .links li a {
    font-weight: bold;
    padding: 5px 0;
    position: relative;
    display: inline-block;
}

nav .links li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #55a53c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav .links li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

nav .links li:last-child a::before {
    visibility: hidden;
    transform: none;
}

nav .links a:hover {
    color: #55a53c;
}

nav .links li img {
    width: 40px;
    height: 40px;
}

nav .links li a img:hover::before {
    visibility: hidden;
    transform: scaleX(0);
}




/* Navbar end */



.content {
    color: #e63946;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.content .text {
    font-size: 2rem;
    padding: 7rem 0;
}

.content .text p {
    font-size: 2.5rem;
    margin-top: 1.25rem;
}

.content .text button {
    padding: 10px 60px;
    margin-bottom: 3rem;
    margin-top: 1.6rem;
}

.content .image img {
    width: 500px;
    height: 500px;
}

.products {
    text-align: center;
    margin-top: 2rem;
}

.products h2 {
    margin-bottom: 2rem;
}

.products .discount {
    width: 100%;
    margin: 3rem 0;
    border-bottom: 1px solid #56aa3c;
}

.products .discount button {
    border: none;
    background-color: #56aa3c;
    border: 1px solid transparent;
    border-radius: 0;
}

.products .discount button:hover {
    background-color: transparent;
    border: 1px solid #56aa3c;
    color: #55a53c;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.product {
    border: 1px solid #ec6f6f;
    border-radius: 5px;
    padding: 1.4rem;
    text-align: center;
    width: 30%;
    height: 70%;
    position: relative;
    overflow: hidden;
}

.product img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.product:hover img {
    transform: scale(1.1);
}

.product h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #56aa3c;
}

.product p {
    font-size: 1rem;
    color: #56aa3c;
}

.product h3,
.product p,
.product button {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product:hover h3,
.product:hover p,
.product:hover button {
    opacity: 1;
}


.events .wedding {
    width: 100vw;
    height: 100%;
    background-image: url(images/events/pink_hair_wedding1.jpeg);
    background-attachment: fixed; /*this code make img stay not move if you want to move place "fixed" to "scroll"*/
    background-size: cover;
    color: #63c247;
    padding-top: 100px;
    padding-bottom: 110px;
    margin-bottom: 20px;
    text-align: center;
}

.events .wedding p {
    margin: 1.5rem 0;
}

.events .wedding button {
    background-color: transparent;
    color: #55a53c;
    border: 1px solid #55a53c;
}

.events .wedding button:hover {
    background-color: #55a53c;
    color: #fff;
    border: 1px solid transparent;
}

.events .gif {
    padding: 2rem;
    text-align: center;
}

.events .gif h3 {
    margin: 2rem 0;
}

.gif .gif-section {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.gif .gif-section img {
    width: 25rem;
}

.gif-section .send {
    text-align: left;
}

.send .send-headers p {
    color: #ec6f6f;
}

.send .send-info {
    width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    font-size: small;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 2rem;
}

.order-details,
.payment-details {
    margin-bottom: 20px;
}

.order-details p {
    margin-bottom: 5px;
}

.payment-details form {
    color: #55a53c;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-details input,
.payment-details select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.events .store {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    padding-left: 5rem;
    gap: 3rem;
}

.events .store img {
    width: 60vw;
}

address, time {
    line-height: 20px;
}

.store .store-content {
    padding: 2rem 0;
}

.store .store-content h4 {
    color: #56aa3c;
    margin: 2rem 0;
}

.store .store-content p {
    margin: 2rem 0;
}



footer {
    background-color: #EFEFEF;
    padding: 2rem 0;
    color: #e63946;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #56aa3c;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.footer-links ul,
.footer-social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li,
.footer-social ul li {
    display: inline;
    margin-right: 1rem;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

.footer-subscribe {
    text-align: left;
}

.footer-subscribe p {
    margin-bottom: 0.5rem;
}

.footer-subscribe form {
    display: flex;
    align-items: center;
}

.footer-subscribe input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 8px;
    width: 200px;
}

.footer-disclaimer {
    margin-top: 1rem;
}


/* BREAKPOINS */
@media screen and (max-width: 1200px) {
    html {
        font-size: 24px;
    }
}

@media screen and (max-width: 640px){
    html {
        font-size: 14px;
    }

    header {
        border: none;
    }

    header .icons {
        display: inline-flex;
    }
    
    header .burger-menu {
        display: block;
    }
    
    header .x-menu {
        display: none;
    }
    
    #check:checked~label .burger-menu { /*When #check is checked do display none to .burger-menu # '~': */
        display: none;
    }
    
    #check:checked~label .x-menu {
        display: block;
    }
    
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(40px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #56aa3c;
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked~nav {
        height: 22rem;
    }

    #check:checked~.x-menu {
        display: inline;
    }
    

    nav .links {
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
    }



    nav .logo {
        width: 5em;
        height: 5em;
    }

    nav .menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 3em;
        margin-right: 2em;
    }

    nav .menu li {
        display: inline;
    }

    nav .menu li a {
        text-decoration: none;
        color: #ec6f6f;
        font-weight: bold;
    }

    nav .menu li img {
        width: 2.5em;
        height: 2.5em;
    }


    .contact .image img {
        max-width: 100%;
        height: auto;
    }

    
}